body{
    margin: 0;
    font-family: 'B612', sans-serif;
}

header{
    height: 100px;
    background-color: beige;
    margin-bottom: 16px;
}

.cards{
    /* Display */
    display: grid;
    place-content: center;
    place-items: center;
    grid-template-columns: repeat(auto-fill, 300px);
    gap: 20px;  
}

.cards_item{
    /* Box */
    border-radius: 20px;
    box-shadow: 0px 20px 36px -28px rgba(148,148,148,0.75);
    cursor: pointer;
    /* Transition  */
    transition: all 0.5s 0s ease;
}

@media (hover){
    .cards_item:hover{
        transform: scale(1.1);
    }
}

.cards_item a{
    /* Text */
    text-decoration: none;
    color: black;
}


.cards_item img{
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.cards_item_text{
    /* Display */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* Box */
    padding: 20px;
    /* Text */
    font-size: 18px;
}

/* Info */
.info.noShow{
    display: none;
}

.info{
    /* Box */
    margin: 5%;
    box-sizing: border-box;
    border-radius: 20px;
    box-shadow: 0px 20px 36px -28px rgba(148,148,148,0.75);
    /* Display */
    display: flex;

}

.info-card{
    /* Box */
    width: 300px;
    margin-right: 24px;
    /* Transition  */
    transition: all 0.5s 0s ease;
    /* Text */
    text-align: center;
}

.info-card img{
    width: 100%;
    border-top-left-radius: 20px;
}

.info-data span{
    font-weight: lighter;
}

/* @media (hover){
    .info-card:hover{
        transform: scale(1.1);
    }
} */